<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082900031393-7gb23vuhup837n22ld8staq843284122.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082900031393-7gb23vuhup837n22ld8staq843284122</string>
	<key>API_KEY</key>
	<string>AIzaSyAXLY5PMqZl3xYRoAsYxS4hHJg0O9abzIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1082900031393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thresds</string>
	<key>PROJECT_ID</key>
	<string>thread-56ea0</string>
	<key>STORAGE_BUCKET</key>
	<string>thread-56ea0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082900031393:ios:d0ba5763eceb0909628de0</string>
</dict>
</plist>